/*Crystal Collector Game CSS*/

html,
body,
header, {
    
    height: 100%;
}


body {
	background: url("../images/cavern.jpg") no-repeat;
	background-size: cover;


}

.container {
	font-family: 'Abril Fatface', cursive;
	font-size: 1.5em;
}


#randNum, #wins, #losses, #playerScore, #message {
	font-size: 1.5em;
}

.video {
	float: right;
	position:relative;
	top:-22em;
}

@media screen and (max-width:1007px) {
	.video{
		top: -15em;
	}

}

@media screen and (max-width:540px) {
	.video {
		visibility: hidden;
	}






